@model Labb_4.ViewModels.CustomerViewModel





@foreach (var customer in Model.Customers)
{


    <div>
        <h4>@customer.FirstName @customer.LastName</h4>
        <a asp-controller="Customer" asp-action="UserInfo" asp-route-id="@customer.Id">User info</a>
    </div>
}


<h3>Create Customer</h3>
<form asp-controller="Customer" method="post" asp-action="Create">

    <label for="FirstName">First Name</label>
    <input id="nameInput" asp-for="Customer.FirstName">
    <a asp-validation-for="Customer.FirstName" />

    <label for="LastName">Last Name</label>
    <input id="nameInput" asp-for="Customer.LastName">
    <a asp-validation-for="Customer.LastName" />

    <br />
    <label for="PhoneNumber">Phone Number</label>
    <input id="nameInput" asp-for="Customer.PhoneNumber">
    <a asp-validation-for="Customer.PhoneNumber" />

    <label for="Adress">Adress</label>
    <input id="nameInput" asp-for="Customer.Adress">
    <a asp-validation-for="Customer.Adress" />
    <br />

    <button type="submit">Create new Customer</button>
</form>